form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

    .box {
        display: inline-flex;
        flex-direction: column;
        position: relative;
        font-family: Poppins;
        box-shadow: 0 0 3px #ddd;
        overflow: hidden;
        border-radius: 5px;
        background: #fff;

        label {
            position: absolute;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 0 0 0 10px;
            width: 100%;
            height: 100%;
            color: #bbb;
            user-select: none;
            transition: 0.5s;
        }

        input {
            min-width: 200px;
            font-family: Poppins;
            padding: 20px 0 5px 10px;
            border: none;
            outline: none;
            border-bottom: 2px solid #ccc;
            border-radius: 5px;
            transition: 0.5s;

            &:focus+label,
            &:not(:placeholder-shown)+label {
                transform: translateY(-30%);
                font-size: 0.6rem;
            }

            &:not(:placeholder-shown) {
                border-bottom: 3px solid #00ff0066;
            }
        }
    }

    button {
        width: 16%;

        padding: 10px 5px;
        border-radius: 0.25rem;
        background: dodgerblue;
        color: #fff;
        border: none;
        transition: 0.3s;

        &:hover {
            background: #aaa;
        }
    }
}

* {
    box-sizing: border-box;
}




.projcard-container {
    margin: 50px 0;
}


.projcard-container,
.projcard-container * {
    box-sizing: border-box;
}

.projcard-container {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

.projcard {
    position: relative;
    width: 100%;
    height: 370px;
    margin-bottom: 40px;
    border-radius: 10px;
    background-color: #fff;
    border: 2px solid #ddd;
    font-size: 18px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, .66);
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.projcard:hover {
    box-shadow: 0 34px 32px -33px rgba(0, 0, 0, .18);
    transform: translate(0px, -3px);
}

.projcard::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(-70deg, #424242, transparent 50%);
    opacity: 0.07;
}

.projcard:nth-child(2n)::before {
    background-image: linear-gradient(-250deg, #424242, transparent 50%);
}

.projcard-innerbox {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.projcard-img {
    position: absolute;
    height: 300px;
    width: 400px;
    top: 0;
    left: 0;
    transition: transform 0.2s ease;
}

.projcard:nth-child(2n) .projcard-img {
    left: initial;
    right: 0;
}

.projcard:hover .projcard-img {
    transform: scale(1.05) rotate(1deg);
}

.projcard:hover .projcard-bar {
    width: 70px;
}

.projcard-textbox {
    position: absolute;
    top: 7%;
    bottom: 7%;
    left: 430px;
    width: calc(100% - 470px);
    font-size: 17px;
}

.projcard:nth-child(2n) .projcard-textbox {
    left: initial;
    right: 430px;
}

.projcard-textbox::before,
.projcard-textbox::after {
    content: "";
    position: absolute;
    display: block;
    background: #ff0000bb;
    background: #fff;
    top: -20%;
    left: -55px;
    height: 140%;
    width: 60px;
    transform: rotate(8deg);
}

.projcard:nth-child(2n) .projcard-textbox::before {
    display: none;
}

.projcard-textbox::after {
    display: none;
    left: initial;
    right: -55px;
}

.projcard:nth-child(2n) .projcard-textbox::after {
    display: block;
}

.projcard-textbox * {
    position: relative;
}

.projcard-title {
    font-family: 'Voces', 'Open Sans', arial, sans-serif;
    font-size: 24px;
}

.projcard-subtitle {
    font-family: 'Voces', 'Open Sans', arial, sans-serif;
    color: #888;
}

.projcard-bar {
    left: -2px;
    width: 50px;
    height: 5px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #424242;
    transition: width 0.2s ease;
}

.projcard-blue .projcard-bar {
    background-color: #0088FF;
}

.projcard-blue::before {
    background-image: linear-gradient(-70deg, #0088FF, transparent 50%);
}

.projcard-blue:nth-child(2n)::before {
    background-image: linear-gradient(-250deg, #0088FF, transparent 50%);
}

.projcard-red .projcard-bar {
    background-color: #D62F1F;
}

.projcard-red::before {
    background-image: linear-gradient(-70deg, #D62F1F, transparent 50%);
}

.projcard-red:nth-child(2n)::before {
    background-image: linear-gradient(-250deg, #D62F1F, transparent 50%);
}

.projcard-green .projcard-bar {
    background-color: #40BD00;
}

.projcard-green::before {
    background-image: linear-gradient(-70deg, #40BD00, transparent 50%);
}

.projcard-green:nth-child(2n)::before {
    background-image: linear-gradient(-250deg, #40BD00, transparent 50%);
}

.projcard-yellow .projcard-bar {
    background-color: #F5AF41;
}

.projcard-yellow::before {
    background-image: linear-gradient(-70deg, #F5AF41, transparent 50%);
}

.projcard-yellow:nth-child(2n)::before {
    background-image: linear-gradient(-250deg, #F5AF41, transparent 50%);
}

.projcard-orange .projcard-bar {
    background-color: #FF5722;
}

.projcard-orange::before {
    background-image: linear-gradient(-70deg, #FF5722, transparent 50%);
}

.projcard-orange:nth-child(2n)::before {
    background-image: linear-gradient(-250deg, #FF5722, transparent 50%);
}

.projcard-brown .projcard-bar {
    background-color: #C49863;
}

.projcard-brown::before {
    background-image: linear-gradient(-70deg, #C49863, transparent 50%);
}

.projcard-brown:nth-child(2n)::before {
    background-image: linear-gradient(-250deg, #C49863, transparent 50%);
}

.projcard-grey .projcard-bar {
    background-color: #424242;
}

.projcard-grey::before {
    background-image: linear-gradient(-70deg, #424242, transparent 50%);
}

.projcard-grey:nth-child(2n)::before {
    background-image: linear-gradient(-250deg, #424242, transparent 50%);
}

.projcard-customcolor .projcard-bar {
    background-color: var(--projcard-color);
}

.projcard-customcolor::before {
    background-image: linear-gradient(-70deg, var(--projcard-color), transparent 50%);
}

.projcard-customcolor:nth-child(2n)::before {
    background-image: linear-gradient(-250deg, var(--projcard-color), transparent 50%);
}

.projcard-description {
    z-index: 10;
    font-size: 15px;
    color: #424242;
    height: 125px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.projcard-tagbox button {
    bottom: 3%;
    font-size: 25px;
    cursor: default;
    user-select: none;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    border: none;
    outline: none;
    background: purple;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, .66);
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.projcard-tagbox a {
    text-decoration: none;
    color: #ddd;
}

































































.main-bg{
    overflow: hidden;
}




.box-conatiner {
   
    contain: content;
    margin: 50px auto;
    height: 500px;
    width: 80%;
    background-color: #5d4ef3;
    border-radius: 0 70px;
    box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);

}

.box-conatiner::before {
    content: "";
    background: url(https://1.bp.blogspot.com/--UQ8_O1EFN8/XWkZdpW_MMI/AAAAAAAATDE/kcJXA9nMy4ElB4NmBZDM6WwPE4JQD7ACQCLcBGAs/s1600/shape.png);
    position: absolute;
    right: -20px;
    background-size: 100%;
    top: -80px;
    width: 1220px;
    height: 653px;
}

/***************************/
#a {
    -webkit-animation: wait 0s alternate infinite;
    animation: wait 0s alternate infinite;

}

.circle-ripple {
    background-color: transparent;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    -webkit-animation: ripple 0.7s linear infinite;
    animation: ripple 0.7s linear infinite;
    left: 60px;
    position: absolute;
    top: 44px;
}

@-webkit-keyframes wait {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes wait {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 rgba(175, 166, 255, 0.3), 0 0 0 1em rgba(175, 166, 255, 0.3), 0 0 0 3em rgba(175, 166, 255, 0.3), 0 0 0 5em rgba(175, 166, 255, 0.3);
    }

    100% {
        box-shadow: 0 0 0 1em rgba(175, 166, 255, 0.3), 0 0 0 3em rgba(175, 166, 255, 0.3), 0 0 0 5em rgba(175, 166, 255, 0.3), 0 0 0 8em rgba(175, 166, 255, 0);
    }
}

@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 rgba(175, 166, 255, 0.3), 0 0 0 1em rgba(175, 166, 255, 0.3), 0 0 0 3em rgba(175, 166, 255, 0.3), 0 0 0 5em rgba(175, 166, 255, 0.3);
    }

    100% {
        box-shadow: 0 0 0 1em rgba(175, 166, 255, 0.3), 0 0 0 3em rgba(175, 166, 255, 0.3), 0 0 0 5em rgba(175, 166, 255, 0.3), 0 0 0 8em rgba(175, 166, 255, 0);
    }
}


/**********loginform*/
body,
html {
    height: 100%;
    font-family: Ubuntu-Regular, sans-serif
}

a {
    font-family: Ubuntu-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666;
    margin: 0;
    transition: all .4s;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s
}

a:focus {
    outline: none !important
}

a:hover {
    text-decoration: none;
    color: #1b3815
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0
}

p {
    font-family: Ubuntu-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666;
    margin: 0
}

ul,
li {
    margin: 0;
    list-style-type: none
}

input {
    outline: none;
    border: none
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: none;
    -webkit-appearance: none
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none
}

textarea {
    outline: none;
    border: none
}

textarea:focus,
input:focus {
    border-color: transparent !important
}

input::-webkit-input-placeholder {
    color: #1b3815
}

input:-moz-placeholder {
    color: #1b3815
}

input::-moz-placeholder {
    color: #1b3815
}

input:-ms-input-placeholder {
    color: #1b3815
}

textarea::-webkit-input-placeholder {
    color: #1b3815
}

textarea:-moz-placeholder {
    color: #1b3815
}

textarea::-moz-placeholder {
    color: #1b3815
}

textarea:-ms-input-placeholder {
    color: #1b3815
}

button {
    outline: none !important;
    border: none;
    background: 0 0
}

button:hover {
    cursor: pointer
}

iframe {
    border: none !important
}

.txt1 {
    font-family: Ubuntu-Regular;
    font-size: 15px;
    color: #999;
    line-height: 1.4
}

.txt2 {
    font-family: Ubuntu-Regular;
    font-size: 15px;
    color: #57b846;
    line-height: 1.4
}

.txt3 {
    font-family: Ubuntu-Bold;
    font-size: 15px;
    color: #57b846;
    line-height: 1.4;
    text-transform: uppercase
}

.limiter {
    width: 100%;
    margin: 0 auto
}

.container-login100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    position: relative;
    background-color: #fff
}

.wrap-login100 {
    width: 450px;
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 3px 20px 0 rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 3px 20px 0 rgba(0, 0, 0, .1);
    -o-box-shadow: 0 3px 20px 0 rgba(0, 0, 0, .1);
    -ms-box-shadow: 0 3px 20px 0 rgba(0, 0, 0, .1);
    height: 451px;
    border: 1px solid #dedede;
    margin: 30px auto;
}

.login100-form {
    width: 100%;
    position: relative
}

.login100-form-title {
    font-family: JosefinSans-Bold;
    font-size: 30px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    display: block;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #5d4ef3;
    padding-top: 50px;
    padding-bottom: 39px
}

.wrap-input100 {
    width: 100%;
    background-color: #fff;
    border-radius: 27px;
    position: relative;
    z-index: 1
}

.input100 {
    font-family: Ubuntu-Bold;
    font-size: 15px;
    color: #1b3815;
    line-height: 1.2;
    position: relative;
    display: block;
    width: 100%;
    height: 55px;
    background: #ebebeb;
    border-radius: 27px;
    padding: 0 35px
}

.focus-input100 {
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 31px;
    background-color: #ebebeb;
    pointer-events: none;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s
}

.p-r-55 {
    padding-right: 55px;
}

.p-l-55 {
    padding-left: 55px;
}

.p-t-178 {
    padding-top: 178px;
}

.m-b-16 {
    margin-bottom: 16px;
}

.p-t-20 {
    padding-top: 20px;
}

.txt1 {
    font-family: Ubuntu-Regular;
    font-size: 15px;
    color: #999;
    line-height: 1.4;
}

.p-b-9 {
    padding-bottom: 9px;
}

.txt3 {
    font-family: Ubuntu-Bold;
    font-size: 15px;
    color: #57b846;
    line-height: 1.4;
    text-transform: uppercase;
}

.flex-col-c {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
}

.p-b-40 {
    padding-bottom: 40px;
}

.p-t-140 {
    padding-top: 40px;
}

.login100-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    background-color: #5d4ef3;
    border-radius: 25px;
    font-family: Ubuntu-Bold;
    font-size: 15px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
}

.text-right {
    text-align: right !important;
}

.p-t-13 {
    padding-top: 13px;
}

.p-b-23 {
    padding-bottom: 23px;
}

.heading-left {
    color: white;
    width: 65%;
    text-align: center;
    text-transform: uppercase;
    line-height: 50px;
    margin: 160px auto;
    letter-spacing: 4px;
}


@media only screen and (max-width: 600px) {

    .wrap-login100 {
        width: 100%;
    }

    .wrap-login100 {
        width: 100%;
        right: -272px;
    }

    .heading-left {
        font-size: 19px;
        line-height: 34px;
    }

    .p-l-55 {
        padding-left: 20px;
    }

    .p-r-55 {
        padding-right: 20px;
    }

    .input100 {
        height: 40px;
    }

    .login100-form-btn {
        height: 40px;
    }

    .wrap-login100 {
        width: 95%;
    }
}

@media only screen and (min-width: 401px) and (max-width: 1070px) {
    .box-conatiner::before {
        background-size: 48%;
        top: -80px;
        background-repeat: no-repeat;
        background: none;
    }

    .heading-left {
        font-size: 24px;
        line-height: 40px;
        margin: 235px auto;
        letter-spacing: 4px;
    }

    .wrap-login100 {
        width: 90%;
    }
}